@import url('https://fonts.googleapis.com/css?family=Muli');

html {
    height: 100%;
}
body {
/*	background-color: #F1F1F1;*/
	font-family: 'Muli', sans-serif;
	margin: 0;
    height: 100%;
}
.sport-pane {
/*    float: left; FIX*/
	max-width: 250px;
	min-width: 200px;
	flex-grow: 1;
	margin: 0;
	background-color: #FFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 1;
	padding: 0;
    height: 100%;
}

.sport-pane li {
	list-style: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.sport-list {
	padding: 10px;
	border-bottom: 1.5px solid #ccc;
}

.sport-img {
    width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 5px;
}

.sport-list:hover {
	background-color: #DDD;
}

.event-pane {
    position:absolute;
    border:3px solid #ccc;
    background:#333;
    padding:5px;
/*    display:none;*/
    color:#fff;
    box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
    opacity:0.9
}

.sport-pane div {
    border-bottom: 1.5px solid #ccc;
}
.event-list {
    border-bottom: .5px solid #ddd;
    padding: 10px 10px 10px 30px;
}
.event-list:hover {
    background-color: #eee;
}
/*Circles*/
.players {
    opacity: .9;
/*    clip-path: circle(60px at center);*/
}
/* Charts */
/* Axis */
.yAxis {
    fill: none;
    stroke: none;
}
.yAxis path {
    display: none;
}
.tick line {
    display: none;
}

/* Preview Wrap */

.previewWrap {
    position: absolute;
    border:3px solid #ccc;
    padding:5px;
    box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
}
.previewWrap::after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    position:absolute;
    width: 180px;
    height: 100px;
    background-image:url(images/logo.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #fff;
/*    display:none;*/
    color:#777;
    opacity:0.9;
    z-index: -1;   
}


.xAxis text{
    font-size:8px;
}

text{
    font-size:10px;
}

.win0{
    fill:#a6d96a
}

.win1{
     fill:#1a9641
}

.draw{
    /*fill:#fdae61*/
    /*fill: #fec44f;*/
    fill:#D9D9D9;
}

.yetToPlay{
    fill: #191919;
    stroke: gold;
}

.lost0{
/*fill:#fdae61
     fill:#d7191c*/
     fill: #ff5053;
}

.lost1{
    /*fill:#fdae61*/
    fill:#ffb2b2
}

.line{
    stroke:#e0e0e0;
    stroke-width:0.3px;
}
circle{
    stroke-width: 1px;
}

.tick{
    cursor:pointer
}

.tick text{
    fill:white;
}

.unhighlight{

    opacity:0.2
}

.clicked{

    opacity:1!important
}

.highlight{

    opacity:1!important
}

.unclicked{
    opacity:0.2
}

.hover{

    opacity:1!important
}

.unhover{
    opacity:0.2;
}

.unLogoClicked{
     opacity:0.2;
}

.unclicked.unLogoClicked{
    opacity:0.2
}


.LogoClicked{
     opacity:1!important
}

.tooltip {
     position: absolute;
    /* height: 28px; */
    pointer-events: none;
    background: #dadada;
    padding: 6px;
    border: 2px solid gray;
    stroke-width: 2px;
    opacity: 0;
    font-weight: bold;
}

#teamChart1{
    float: left;
    margin: 0 5px;
     padding-right: 20px;
}

#teamChart1.showrightBorder{
     border-right: 2px solid gray;
}

@media (min-width: 1200px)
.container{
    width:1200px;
}

select{
    margin-left: 150px;
}

#vis{
       border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
}

#row text{
    font-size:25px;
    fill:gray
}

.node{
    opacity:0.3
    }


img{
    height: 50px;
    width: 50px;

}

#team1Drop{

position:absolute;
background:gray;

}

.border-team {
  border: thick solid gold;
}

#teamChart2{
    float: left;

}

#row{
    border-bottom: 1px solid #d2d2d2;
    margin-bottom:10px;
    color:gray;
}

p{
    margin: 0;
    position: absolute;
}


.black{
    fill:black;
    stroke: #6b6b6b;
}

#vis span{
       float: right;
    color: #8a8a8a;
    position: absolute;
    right: 50px;
}

.legend{
    float: right;
    margin-top: -100px;
    right: 0;
    position: absolute;
}

.big{
    width:80px;
    height:80px;
    opacity:0.3
}

.playoffLabel{
    fill: white;
}

.weekTickText{
    fill:white;
}

    .weekTickText.superbowl{
        fill:gold;
    }





     #legend2{
    display:none
    }